#index{
	background-color: Aqua;
}

#projects{
	background-color: Tomato;
}

#about{
	background-color: ForestGreen;
}

#work{
	background-color: Linen;
}

#skills{
	background-color: Plum;
}

div{
	background-color: LightGray;
}

#profileimage:hover{
    transform: scale(1.15);
}
a:hover{
	font-size:150%;
}

#abouttitle:hover{
	font-size:150%;
	color: red;
}