#index{
	background-color: Aqua;
}

#projects{
	background-color: Tomato;
}

#about{
	background-color: ForestGreen;
}

#work{
	background-color: Linen;
}

#skills{
	background-color: Plum;
}

#navigation{
	background-color: LightGray;
}

div a:hover{
	transform: scale(1.15);
}