#index{
	background-color: Aqua;
}

#projects{
	background-color: Tomato;
}

#about{
	background-color: ForestGreen;
}

#work{
	background-color: Linen;
}

#skills{
	background-color: Plum;
}

.navbar{
	background-color: LightGray;
	margin-bottom: 30px;
}

#introdescription {
    background-color: beige;
    height: 40%;
    width: 20%;
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
    transition: background-color .6s;
}

#introdescription:hover{
    background-color:black;
    color: whitesmoke;
}

#profileimage {
  -webkit-transition: -webkit-transform .8s 
  ease-in-out;
  transition: transform .8s ease-in-out;
  margin-top:25px;
  margin: 20px;
  padding:10px;
  background-color:red;
}

#profileimage:hover{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg) scale(1.15);
}

a:hover{
	font-size:150%;
}

span:hover{
	font-size:150%;
	color: red;
}

span{
	padding:25px;
	border-radius:10px;
	background-color: LemonChiffon;
}

p{
	margin-top:50px;
}

#skillslist{
	margin-top:35px;
}

#chicken{
	margin-top:35px;
}

#education{
	margin-top:35px;
}